* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

.navcard {
    padding: 5vw;
    background-image: url(cars/Jesko.png);
    background: linear-gradient(to right, #00000088, #00000088), url('cars/Jesko.png');
    background-position: center;
    background-color: #00000088;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.navcard a {
    color: #ffffff;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transition: all, 0.25s ease-in-out;
    text-decoration: none;
    padding-bottom: 2.5vh;
}

.navcard .activeheader {
    color: #A94343;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    transition: all, 0.25s ease-in-out;
    text-decoration: none;
    padding-bottom: 2.5vh;
}

.navcard a:hover {
    color: #ffaaaa;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.branding #logo {
    height: 100px;
    padding-right: 5vh;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: large;
    padding-bottom: 2.5vh;
}

#expressiveHeader {
    display: flex;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
    flex-direction: row;
    padding-bottom: 3vh;
    transition: width, 0.25s ease-in-out;
}

#likedThingsCarousel {
    transition: opacity 1s ease-in-out;
}

.rightSpace {
    padding-right: 10px;
}

.lexend-default {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
@media screen and (max-width: 1000px) {

    /* 
    
    SETTINGS FOR SMALL SCREENS
    
    */

    .navcard {
        align-items: center;
        justify-content: center;
        height: 40vh;
    }

    .branding #logo{
        padding-right: 0;
    }

    .hideOnSmall {
        display: none;
    }
}