* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color: #ffffff;
    font-family: "Lexend", sans-serif;
}

.navcard {
    padding: 5vw;
    background-image: url(cars/Jesko.png);
    background: linear-gradient(to right, #00000088, #00000088), url('cars/Jesko.png');
    background-position: center;
    background-color: #00000088;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    height: 75vh;
    box-shadow: inset 0 -10vh 5vh -5vh #333333ff;}

.navcard a {
    color: #ffffff;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transition: all, 0.25s ease-in-out;
    text-decoration: none;
    padding-bottom: 2.5vh;
}

.navcard a.active {
    color: #A94343;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    transition: all, 0.25s ease-in-out;
    text-decoration: none;
    padding-bottom: 2.5vh;
}

.navcard a:hover {
    color: #ffaaaa;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.branding #logo {
    height: 100px;
    padding-right: 5vh;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: large;
    padding-bottom: 2.5vh;
}

#expressiveHeader {
    display: flex;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
    flex-direction: row;
    padding-bottom: 3vh;
    transition: width, 0.25s ease-in-out;
}

#likedThingsCarousel {
    transition: opacity 1s ease-in-out;
}

.rightSpace {
    padding-right: 10px;
}

.lexend-default {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#footer {
    background-color: #222222;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer a {
    color: #A94343;
    text-decoration: none;
}

#footer p {
    padding-top: 1vh;
}

#footerlogo {
    height: 5vh;
    padding-bottom: 2.5vh;
}

.content {
    padding: 5vw;
    transition: all, 0.5s ease-in-out;
    background-image: url(cars/lamborghini.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 10vh 5vh -5vh #333333ff;
}

.page {
    display: none;
    transition: all, 0.5s ease-in-out;

}
.active {
    display: block;
    transition: all, 0.5s ease-in-out;
}

.card {
    border-radius: 50px;
    box-shadow: inset 0 0 50px #00000088;
    height: 20vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    text-decoration: none;
}

#CAD {
    background-image: url(images/onshapescreenshot.png);
    background-position: center;
    background-size: cover;
}

.card h1 {
    padding-bottom: 5vh;
}

.card.title {
    font-size: large;
}

.card.bodytext {
    font-size: small;
}

.bottompad {
    padding-bottom: 5vh;
}

.rightpad {
    padding-right: 5vw;
}

.cardgroup {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    transition: all, 0.25s ease-in-out;
}

.list a {
    color: #ffffff;
    font-weight: 300;
    font-size: x-large;
    text-decoration: none;
    transition: all, 0.25s ease-in-out;
    padding: 5vh;
    justify-content: center;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
}

.list a:hover {
    color: #A94343;
    font-weight: 900;
    font-size: xx-large;
    text-decoration: none;
    transition: all, 0.25s ease-in-out;
    filter: grayscale(0%);
}

.lift {
    text-shadow: 0 0 10px #000000;
}

button {
    line-height: 3;
    border-radius: 500px;
    border-width: 0px;
    color: #ffffff;
    font-family: "Luxend", sans-serif;
    font-weight: 600;
    font-size: medium;
    transition: all, 0.25s ease-in-out;
}

button.emphasized {
    background-color: #A94343DD;
    transition: all, 0.25s ease-in-out;
}

button.emphasized:hover {
    background-color: #6d2323dd;
    transition: all, 0.25s ease-in-out;
}

button.expanded {
    width: 100%;
}

#car {
    background-image: url(cars/gtcolor.png);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#game {
    background-image: url(images/reach.jpg);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#cad {
    background-image: url(images/onshapescreenshot.png);
}

#design {
    background-image: url(newlogos/logos.svg);
}

#gun {
    background-image: url(images/gunimage.png);
}

.preview-container {
    width: 90vw;
    height: 100vh;

}

.preview-iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {

    /* 
    
    SETTINGS FOR SMALL SCREENS
    
    */

    .cardgroup {
        flex-direction: column;
    }

    .branding #logo{
        padding-right: 0;
    }

    .hideOnSmall {
        display: none;
    }
}

@media screen and (max-width: 1200px) {

    /* 
    
    SETTINGS FOR SMALL SCREENS
    
    */

    .navcard {
        align-items: center;
        justify-content: center;
        height: 90vh;
    }
}



/* 

SCROLLBAR SETTINGS

*/

/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 1.5vw; /* Width of the scrollbar */
}

/* Track (the area on which the thumb drags) */
::-webkit-scrollbar-track {
    background: #77777788; /* Color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #433; /* Color of the scrollbar handle */
    transition: all, 0.25s ease-in-out ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #612626; /* Color of the scrollbar handle on hover */
    transition: all, 0.25s ease-in-out ;
}